In [2]:
import pandas as pd
import numpy as np
import random
import string

In [3]:
df = pd.read_csv('final.csv', encoding='utf8')

In [4]:
df.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
0,10164.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555.0,FAYETTE,2.059326e+09,Acute Care Hospitals,0.0
1,10046.0,RIVERVIEW REGIONAL MEDICAL CENTER,600 SOUTH THIRD STREET,GADSDEN,AL,35968.0,ETOWAH,2.565435e+09,Acute Care Hospitals,0.0
2,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,1.0
3,10018.0,CALLAHAN EYE FOUNDATION HOSPITAL,1720 UNIVERSITY BLVD,BIRMINGHAM,AL,35233.0,JEFFERSON,2.053258e+09,Acute Care Hospitals,1.0
4,10034.0,COMMUNITY HOSPITAL INC,805 FRIENDSHIP ROAD,TALLASSEE,AL,36854.0,ELMORE,3.342837e+09,Acute Care Hospitals,0.0

In [5]:
len(df)

2000

In [6]:
dfClean = df[df['label'] == 1]

In [7]:
len(dfClean)

1000

In [8]:
dfClean.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
2,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,1.0
3,10018.0,CALLAHAN EYE FOUNDATION HOSPITAL,1720 UNIVERSITY BLVD,BIRMINGHAM,AL,35233.0,JEFFERSON,2.053258e+09,Acute Care Hospitals,1.0
7,10005.0,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957.0,MARSHALL,2.565938e+09,Acute Care Hospitals,1.0
10,10025.0,G H LANIER MEMORIAL HOSPITAL,4800 48TH ST,VALLEY,AL,36854.0,CHAMBERS,3.347561e+09,Acute Care Hospitals,1.0
11,10045.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555.0,FAYETTE,2.059326e+09,Acute Care Hospitals,1.0

In [9]:
dfClean.to_csv("CleanHospitalDataset.csv", encoding='utf8',index=False)

### Adding spelling mistakes

In [10]:
dfSpell = dfClean.sample(frac=0.1)

In [11]:
len(dfSpell)

100

In [12]:
columns = ["HospitalName", "Address1", "City", "State", "CountyName"]

In [13]:
def modifyValue(value):
    wordList = list(value)
    randomPosition = random.randint(0, len(value) - 1)
    currentChar = wordList[randomPosition]
    
    lowercase = set(string.ascii_lowercase)
    uppercase = set(string.ascii_uppercase)
    digits = set(string.digits)
    
    while currentChar.isspace() is True:
        randomPosition = random.randint(0, len(value) - 1)
        currentChar = wordList[randomPosition]
    
    if currentChar.isalpha():
        if currentChar.islower():
            char = random.choice(list(lowercase - set(currentChar)))
        else:
            char = random.choice(list(uppercase - set(currentChar)))
    else:
        char = random.choice(list(digits - set(currentChar)))
    
    wordList[randomPosition] = str(char)
    return ''.join(wordList)

In [14]:
for index, row in dfSpell.iterrows():
    column = random.choice(columns)
    value = row[column]
    modifiedValue = modifyValue(value)
    dfSpell.at[index, column] = modifiedValue
    dfSpell.at[index, 'label'] = 0

In [15]:
dfSpell.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
1553,20017.0,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,ANCHORBGE,AK,99508.0,ANCHORAGE,9.072761e+09,Acute Care Hospitals,0.0
1324,10029.0,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,SL,36801.0,LEE,3.347493e+09,Acute Care Hospitals,0.0
1696,10044.0,MARFON REGIONAL MEDICAL CENTER,1256 MILITARY STREET SOUTH,HAMILTON,AL,35570.0,MARION,2.059216e+09,Acute Care Hospitals,0.0
27,10022.0,CHEROKEE MEDICAL CENTER,400 NKRTHWOOD DR,CENTRE,AL,35960.0,CHEROKEE,2.569276e+09,Acute Care Hospitals,0.0
635,10009.0,HARTSELLE MEDICAL CENTER,201 PINE STREET NORTHWEST,TARTSELLE,AL,35640.0,MORGAN,2.567737e+09,Acute Care Hospitals,0.0

In [16]:
df = pd.concat([df, dfSpell])

In [17]:
len(df)

2100

In [18]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
1553,20017.0,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,ANCHORBGE,AK,99508.0,ANCHORAGE,9.072761e+09,Acute Care Hospitals,0.0
1324,10029.0,EAST ALABAMA MEDICAL CENTER AND SNF,2000 PEPPERELL PARKWAY,OPELIKA,SL,36801.0,LEE,3.347493e+09,Acute Care Hospitals,0.0
1696,10044.0,MARFON REGIONAL MEDICAL CENTER,1256 MILITARY STREET SOUTH,HAMILTON,AL,35570.0,MARION,2.059216e+09,Acute Care Hospitals,0.0
27,10022.0,CHEROKEE MEDICAL CENTER,400 NKRTHWOOD DR,CENTRE,AL,35960.0,CHEROKEE,2.569276e+09,Acute Care Hospitals,0.0
635,10009.0,HARTSELLE MEDICAL CENTER,201 PINE STREET NORTHWEST,TARTSELLE,AL,35640.0,MORGAN,2.567737e+09,Acute Care Hospitals,0.0

In [19]:
from sklearn.utils import shuffle
df = shuffle(df)

In [20]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
1978,10045.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555.0,FAYETTE,2.059326e+09,Acute Care Hospitals,1.0
238,10025.0,G H LANIER MEMORIAL HOSPITAL,4800 48TH ST,VALLEY,AL,35801.0,CHAMBERS,3.347561e+09,Acute Care Hospitals,0.0
364,10044.0,MARION REGIONAL MEDICAL CENTER,1256 MILITARY STREET SOUTH,HAMILTON,AL,35570.0,MARION,2.059216e+09,Acute Care Hospitals,0.0
1609,10044.0,MARION REGIONAL MEDICAL CENTER,1256 MILITARY STREET SOUTH,HAMILXON,AL,35570.0,MARION,2.059216e+09,Acute Care Hospitals,0.0
1404,10038.0,STRINGFELLOW MEMORIAL HOSPITAL,301 EAST 18TH ST,ANNISTON,AL,36201.0,CALHOVN,2.562359e+09,Acute Care Hospitals,0.0

In [21]:
df.to_csv('DirtyHospitalDataset.csv', encoding='utf8', index=False)