In [1]:
import pandas as pd
import numpy as np
import random
import string

In [2]:
df = pd.read_csv('final.csv', encoding='utf8')

In [3]:
df.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
0,10164.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555.0,FAYETTE,2.059326e+09,Acute Care Hospitals,0.0
1,10046.0,RIVERVIEW REGIONAL MEDICAL CENTER,600 SOUTH THIRD STREET,GADSDEN,AL,35968.0,ETOWAH,2.565435e+09,Acute Care Hospitals,0.0
2,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,1.0
3,10018.0,CALLAHAN EYE FOUNDATION HOSPITAL,1720 UNIVERSITY BLVD,BIRMINGHAM,AL,35233.0,JEFFERSON,2.053258e+09,Acute Care Hospitals,1.0
4,10034.0,COMMUNITY HOSPITAL INC,805 FRIENDSHIP ROAD,TALLASSEE,AL,36854.0,ELMORE,3.342837e+09,Acute Care Hospitals,0.0

In [4]:
len(df)

2000

In [5]:
dfClean = df[df['label'] == 1]

In [6]:
len(dfClean)

1000

In [7]:
dfClean.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
2,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,1.0
3,10018.0,CALLAHAN EYE FOUNDATION HOSPITAL,1720 UNIVERSITY BLVD,BIRMINGHAM,AL,35233.0,JEFFERSON,2.053258e+09,Acute Care Hospitals,1.0
7,10005.0,MARSHALL MEDICAL CENTER SOUTH,2505 U S HIGHWAY 431 NORTH,BOAZ,AL,35957.0,MARSHALL,2.565938e+09,Acute Care Hospitals,1.0
10,10025.0,G H LANIER MEMORIAL HOSPITAL,4800 48TH ST,VALLEY,AL,36854.0,CHAMBERS,3.347561e+09,Acute Care Hospitals,1.0
11,10045.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555.0,FAYETTE,2.059326e+09,Acute Care Hospitals,1.0

In [8]:
dfClean.to_csv("CleanHospitalDataset.csv", encoding='utf8',index=False)

### Adding spelling mistakes

In [9]:
dfSpell = dfClean.sample(frac=0.1)

In [10]:
len(dfSpell)

100

In [11]:
columns = ["HospitalName", "Address1", "City", "CountyName"]

In [12]:
def modifyValue(value):
    wordList = list(value)
    randomPosition = random.randint(0, len(value) - 1)
    currentChar = wordList[randomPosition]
    
    lowercase = set(string.ascii_lowercase)
    uppercase = set(string.ascii_uppercase)
    digits = set(string.digits)
    
    while currentChar.isspace() is True:
        randomPosition = random.randint(0, len(value) - 1)
        currentChar = wordList[randomPosition]
    
    if currentChar.isalpha():
        if currentChar.islower():
            char = random.choice(list(lowercase - set(currentChar)))
        else:
            char = random.choice(list(uppercase - set(currentChar)))
    else:
        char = random.choice(list(digits - set(currentChar)))
    
    wordList[randomPosition] = str(char)
    return ''.join(wordList)

In [13]:
for index, row in dfSpell.iterrows():
    column = random.choice(columns)
    value = row[column]
    modifiedValue = modifyValue(value)
    dfSpell.at[index, column] = modifiedValue
    dfSpell.at[index, 'label'] = 0

In [14]:
dfSpell.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
1747,10010.0,MARSHABL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,0.0
1044,10164.0,COOSA VALLEY MEDICAL CENTER,315 W HICKORY ST,SYLACAUGC,AL,35150.0,TALLADEGA,2.562495e+09,Acute Care Hospitals,0.0
1811,10038.0,STRINGFELLOW MEMORIAL HOSPIBAL,301 EAST 18TH ST,ANNISTON,AL,36201.0,CALHOUN,2.562359e+09,Acute Care Hospitals,0.0
906,20017.0,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,ANCKORAGE,AK,99508.0,ANCHORAGE,9.072761e+09,Acute Care Hospitals,0.0
1188,10047.0,GEORGIANA HOSPITAL,515 MIRANDA ST,GEORGIANA,AL,36033.0,ZUTLER,3.343762e+09,Acute Care Hospitals,0.0

In [15]:
df = pd.concat([df, dfSpell])

In [16]:
len(df)

2100

In [17]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
1747,10010.0,MARSHABL MEDICAL CENTER NORTH,8000 ALABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976.0,MARSHALL,2.565718e+09,Acute Care Hospitals,0.0
1044,10164.0,COOSA VALLEY MEDICAL CENTER,315 W HICKORY ST,SYLACAUGC,AL,35150.0,TALLADEGA,2.562495e+09,Acute Care Hospitals,0.0
1811,10038.0,STRINGFELLOW MEMORIAL HOSPIBAL,301 EAST 18TH ST,ANNISTON,AL,36201.0,CALHOUN,2.562359e+09,Acute Care Hospitals,0.0
906,20017.0,ALASKA REGIONAL HOSPITAL,2801 DEBARR ROAD,ANCKORAGE,AK,99508.0,ANCHORAGE,9.072761e+09,Acute Care Hospitals,0.0
1188,10047.0,GEORGIANA HOSPITAL,515 MIRANDA ST,GEORGIANA,AL,36033.0,ZUTLER,3.343762e+09,Acute Care Hospitals,0.0

In [18]:
from sklearn.utils import shuffle
df = shuffle(df)

In [19]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
997,10049.0,MEDICAL CENTER ENTERPRISE,400 N EDWARDS STREET,ENTERPRISE,AL,36330.0,COFFEE,3.343471e+09,Acute Care Hospitals,1.0
1415,10034.0,COMMUNITY HOSPITAL INC,805 FRIENDSHIP ROAD,CENTRE,AL,36078.0,ELMORE,3.342837e+09,Acute Care Hospitals,0.0
235,10007.0,MIZELL MEMORIAL HOSPITAL,702 N MAIN ST,OPP,AL,36467.0,AUTAUGA,3.344934e+09,Acute Care Hospitals,0.0
924,10024.0,JACKSON HOSPITAL & CLINIC INC,1725 PINE STREET,MONTGOMERY,AL,36106.0,MONTGOMERY,3.342938e+09,Acute Care Hospitals,0.0
881,10044.0,STRINGFELLOW MEMORIAL HOSPITAL,301 EAST 18TH ST,NaN,NaN,36201.0,CALHOUN,2.562359e+09,Acute Care Hospitals,0.0

In [20]:
df.to_csv('DirtyHospitalDataset.csv', encoding='utf8', index=False)