In [97]:
import pandas as pd
import numpy as np
import random
import string

In [44]:
df = pd.read_csv('DirtyHospitalDataset.csv', encoding='utf8')

In [45]:
df.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
0,10027.0,ELBA GENERAL HOSPITAL,987 DRAYTON STREET,ELBA,AL,36323,COFFEE,2.052743e+09,Acute Care Hospitals,0
1,10027.0,ELBA GENERAL HOSPITAL,849 SOUTH THREE NOTCH STREET,ELBA,AL,36323,COFFEE,3.348972e+09,Acute Care Hospitals,0
2,10016.0,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,SHELBY,2.056208e+09,Acute Care Hospitals,1
3,10034.0,COMMUNITY HOSPITAL INC,805 FRIENDSHIP ROAD,TALLASSEE,AL,36078,ELMORE,3.342837e+09,Acute Care Hospitals,0
4,10086.0,NORTHWEST MEDICAL CENTER,1530 U S HIGHWAY 43,WINFIELD,AL,35594,MARION,2.054878e+09,Acute Care Hospitals,1

In [47]:
len(df)

2000

In [49]:
dfClean = df[df['label'] == 1]

In [50]:
len(dfClean)

1000

In [51]:
dfClean.head()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
2,10016.0,SHELBY BAPTIST MEDICAL CENTER,1000 FIRST STREET NORTH,ALABASTER,AL,35007,SHELBY,2.056208e+09,Acute Care Hospitals,1
4,10086.0,NORTHWEST MEDICAL CENTER,1530 U S HIGHWAY 43,WINFIELD,AL,35594,MARION,2.054878e+09,Acute Care Hospitals,1
5,10022.0,CHEROKEE MEDICAL CENTER,400 NORTHWOOD DR,CENTRE,AL,35960,CHEROKEE,2.569276e+09,Acute Care Hospitals,1
6,10006.0,ELIZA COFFEE MEMORIAL HOSPITAL,205 MARENGO STREET,FLORENCE,AL,35631,LAUDERDALE,2.567688e+09,Acute Care Hospitals,1
12,10045.0,FAYETTE MEDICAL CENTER,1653 TEMPLE AVENUE NORTH,FAYETTE,AL,35555,FAYETTE,2.059326e+09,Acute Care Hospitals,1

In [52]:
dfClean.to_csv("CleanHospitalDataset.csv", encoding='utf8',index=False)

### Adding spelling mistakes

In [224]:
dfSpell = dfClean.sample(frac=0.1)

In [225]:
len(dfSpell)

100

In [226]:
columns = ["HospitalName", "Address1","City","State", "CountyName","HospitalType"]

In [227]:
def modifyValue(value):
    wordList = list(value)
    randomPosition = random.randint(0, len(value) - 1)
    currentChar = wordList[randomPosition]
    
    lowercase = set(string.ascii_lowercase)
    uppercase = set(string.ascii_uppercase)
    digits = set(string.digits)
    
    while currentChar.isspace() is True:
        randomPosition = random.randint(0, len(value) - 1)
        currentChar = wordList[randomPosition]
    
    if currentChar.isalpha():
        if currentChar.islower():
            char = random.choice(list(lowercase - set(currentChar)))
        else:
            char = random.choice(list(uppercase - set(currentChar)))
    else:
        char = random.choice(list(digits - set(currentChar)))
    
    wordList[randomPosition] = str(char)
    return ''.join(wordList)

In [228]:
for index, row in dfSpell.iterrows():
    column = random.choice(columns)
    value = row[column]
    modifiedValue = modifyValue(value)
    dfSpell.at[index, column] = modifiedValue
    dfSpell.at[index, 'label'] = 0

In [229]:
dfSpell.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
642,10055.0,FLOWERS HOSPITPL,4370 WEST MAIN STREET,DOTHAN,AL,36305,HOUSTON,3.347935e+09,Acute Care Hospitals,0
467,10108.0,PRATTVILLE BAPTIST HOSPITAL,124 S MEMORIAL DR,PRATTVDLLE,AL,36067,AUTAUGA,3.343614e+09,Acute Care Hospitals,0
602,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 LLABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976,MARSHALL,2.565718e+09,Acute Care Hospitals,0
1819,10086.0,NORTHWEST MEDICAL CENTER,1530 U S HIGHWAY 43,WINFIELD,IL,35594,MARION,2.054878e+09,Acute Care Hospitals,0
1606,10050.0,ST VINCENTS BLOUNT,150 GILBREATH DRIVE,ONEONTA,AL,35121,BLOGNT,2.052743e+09,Acute Care Hospitals,0

In [230]:
df = pd.concat([df, dfSpell])

In [232]:
len(df)

2100

In [233]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
642,10055.0,FLOWERS HOSPITPL,4370 WEST MAIN STREET,DOTHAN,AL,36305,HOUSTON,3.347935e+09,Acute Care Hospitals,0
467,10108.0,PRATTVILLE BAPTIST HOSPITAL,124 S MEMORIAL DR,PRATTVDLLE,AL,36067,AUTAUGA,3.343614e+09,Acute Care Hospitals,0
602,10010.0,MARSHALL MEDICAL CENTER NORTH,8000 LLABAMA HIGHWAY 69,GUNTERSVILLE,AL,35976,MARSHALL,2.565718e+09,Acute Care Hospitals,0
1819,10086.0,NORTHWEST MEDICAL CENTER,1530 U S HIGHWAY 43,WINFIELD,IL,35594,MARION,2.054878e+09,Acute Care Hospitals,0
1606,10050.0,ST VINCENTS BLOUNT,150 GILBREATH DRIVE,ONEONTA,AL,35121,BLOGNT,2.052743e+09,Acute Care Hospitals,0

In [234]:
from sklearn.utils import shuffle
df = shuffle(df)

In [235]:
df.tail()

,ProviderNumber,HospitalName,Address1,City,State,ZipCode,CountyName,PhoneNumber,HospitalType,label
640,10015.0,SOUTHWEST ALABAMA MEDICAL CENTER,124 S MEMORIAL DR,THOMASVILLE,AL,36784,CLARKE,3.346366e+09,Acute Care Hospitals,0
1447,10055.0,FLOWERS HOSPITAL,4370 WEST MAIN STREET,WINFIELD,AL,36305,HOUSTON,3.347935e+09,Acute Care Hospitals,0
1450,10033.0,UNIVERSITY OF ALABAMA HOSPITAL,619 SOUTH 19TH STREET,BIRMINGHAM,AL,35233,JEFFERSON,2.059344e+09,Acute Care Hospitals,1
687,10050.0,UNIV OF SOUTH ALABAMA MEDICAL CENTER,2451 FILLINGIM STREET,MOBILE,AL,0,MOBILE,2.514717e+09,Acute Care Hospitals,0
470,10108.0,PRATTVILLE BAPTIST HOSPITAL,124 S MEMORIAL DR,PRATTVILLE,AL,36067,AUTAUGA,3.343614e+09,Acute Care Hospitals,1

In [236]:
df.to_csv('DirtyHospitalDataset.csv', encoding='utf8', index=False)